.vscode/settings.json
bin/debug/analogRead.d
bin/debug/analogRead.o
bin/debug/main.d
bin/debug/main.o
bin/debug/max72xx.d
bin/debug/max72xx.o
bin/debug/millis.d
bin/debug/millis.o
bin/debug/uart.d
bin/debug/uart.o
bin/debug/joystick.d
bin/debug/joystick.o
bin/debug/randomPlacement.d
bin/debug/randomPlacement.o
main.c
joystick.c
joystick.h
snake.hex
snake.map
bin/debug/snakeMovement.d
bin/debug/snakeMovement.o
